{% load static i18n %}
{% load cookie_consent_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ZSH Hub{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An Hub for ZSH Unix Shell">
    <meta name="author" content="0xMRTT">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" />
    <!-- Primer CSS -->
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
      integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->
    <!-- MDB -->
    <script defer type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>
    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>
    <div>

      <nav>
        <div class="Header">
          <div class="Header-item">
            <a href="{% url 'home' %}" class="Header-link f4 d-flex flex-items-center">
              <span>ZSH-Hub</span>
            </a>
          </div>
          <div class="Header-item">
            <input type="search" class="form-control Header-input" />
            <button class="btn mr-2" type="button">
              <!-- <%= octicon "search" %> -->
              <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path fill-rule="evenodd"
                  d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z">
                </path>
              </svg>
            </button>
          </div>
          <div class="Header-item Header-item--full Header-link">
            Explore
          </div>
          <div class="Header-item mr-0">
            {% if request.user.is_authenticated %}
            <div class="dropdown">
              <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'images/png/hacker.png' %}" class="rounded-circle" height="25"
                  alt="Black and White Portrait of a Man" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                  <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">
                    {% translate "My Profile"%}</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              </ul>
            </div>
            {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}

            <a d="log-in-link" role="button" class="btn btn-outline px-3 me-2" href="{% url 'account_login' %}">
              {% translate "Sign In" %}
            </a>
            {% endif %}
            <a id="sign-up-link" role="button" class="btn btn-primary me-3" href="{% url 'account_signup' %}">
              {% translate "Sign Up" %}
            </a>
            {% endif %}
          </div>
        </div>
      </nav>

      <div class="Layout">
        {% block content_wrapper %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="Layout-main pt-5">
          {% block content %}
          <div class="blankslate blankslate-narrow">
            <img src="https://ghicons.github.com/assets/images/blue/png/Pull%20request.png" alt=""
              class="blankslate-image" />
            <h3 class="blankslate-heading">There is nothing here</h3>
            <p>This website is in development. Replace the content block with a specific content</p>
            <div>
              <div class="blankslate-action">
                <button class="btn btn-primary" type="button">Report a bug</button>
              </div>
              <div class="blankslate-action">
                <button class="btn-link" type="button">Search</button>
              </div>
            </div>
          </div>
          {% endblock content %}
        </div>


        <div class="Layout-sidebar bg-dark">
          {% block sidebar %}
          <aside class="color-bg-subtle p-3" style="max-width: 360px">
            <div class="dropdown pb-3">
              <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img class="avatar avatar-2 mr-2" alt="hacker" src="{% static 'images/png/hacker.png' %}"  />
                {{ request.user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                  <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">
                    {% translate "My Profile"%}</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              </ul>
            </div>
            <h5 class="color-fg-muted mb-2 pb-1 border-bottom">Menu</h5>

            <nav class="SideNav">
              <a class="SideNav-subItem" href="#url">Account</a>
              <a class="SideNav-subItem" href="#url" aria-current="page">Profile</a>
              <a class="SideNav-subItem" href="#url">Emails</a>
              <a class="SideNav-subItem" href="#url">Notifications</a>
            </nav>
          </aside>
          {% endblock sidebar %}
        </div>
        {% endblock content_wrapper %}
      </div>


      {% block modal %}{% endblock modal %}
    </div>
    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */ });
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>

</html>
