{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-2">
      <!-- EMPTY -->
    </div>
    <div class="col">
      <div class="Layout">
        <div class="Layout-sidebar">

          <div class="row">
            <img class="avatar" alt="hacker" src="{% static 'images/png/hacker.png' %}" />
          </div>

          <div class="row pt-5">
            <a href="{% url 'users:detail' request.user.username  %}"
              class="no-underline  flex-column flex-justify-center flex-items-center flex-md-items-start">
              <div
                class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pl-md-4">
                {% if object.name %}
                <h1 class="text-normal lh-condensed">{{ object.name }}</h1>
                {% else %}
                <h1 class="text-normal lh-condensed">{{ object.username }}</h1>
                {% endif %}
                <p class="h4 color-fg-muted text-normal mb-2">{{ object.username }}</p>
                <a class="color-fg-muted text-small" href=""></a>
              </div>
            </a>
          </div>

          <div class="row pt-5">
            {% if object == request.user %}
            <!-- Action buttons -->
            <div class="row">


              <a class="btn" href="{% url 'users:update' %}" role="button">Edit profile</a>


            </div>
            <!-- End Action buttons -->
            {% endif %}
          </div>

        </div>
        <div class="Layout-main">
          MAIN
        </div>

      </div>
    </div>
    <div class="col-2">
      <!-- EMPTY -->
    </div>
  </div>
</div>









{% endblock content %}
