{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-2">
      <!-- EMPTY -->
    </div>
    <div class="col">
      <div class="Layout">
        <div class="Layout-sidebar">

          <div class="row">
            <img class="avatar" alt="hacker" src="{% static 'images/png/hacker.png' %}" />
          </div>

          <div class="row pt-5">
            <a href="{% url 'users:detail' object.username  %}"
              class="no-underline  flex-column flex-justify-center flex-items-center flex-md-items-start">
              <div
                class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pl-md-4">
                {% if object.name %}
                <h1 class="text-normal lh-condensed">{{ object.name }}</h1>
                {% else %}
                <h1 class="text-normal lh-condensed">{{ object.username }}</h1>
                {% endif %}
                <p class="h4 color-fg-muted text-normal mb-2">{{ object.username }}</p>
                <a class="color-fg-muted text-small" href=""></a>
              </div>
            </a>
          </div>

          <div class="row pt-5">
            {% if object == request.user %}
            <!-- Action buttons -->
            <div class="row">
              <a class="btn" href="{% url 'users:update' %}" role="button">Edit profile</a>
            </div>
            {% if object.is_superuser %}
            <div class="row pt-3">
              <a class="btn btn-primary" type="button" href="#contact">Admin</a>
            </div>
            {% endif %}
            <!-- End Action buttons -->
            {% endif %}
          </div>

        </div>
        <div class="Layout-main">
          {% if repositories %}
          {% for repo in repositories %}

          {% endfor %}
          {% else %}
          <div class="blankslate">
            <img src="https://ghicons.github.com/assets/images/blue/png/See%20project%20activity.png" alt=""
              class="blankslate-image" />
            <h3 class="blankslate-heading">You don’t seem to have any repositories.</h3>
            <p>Repositories are a way to share your code with others and allow others to contribute on</p>
            <div class="blankslate-action">
              <button class="btn btn-primary" type="button">New repository</button>
            </div>
            <div class="blankslate-action">
              <button class="btn-link" type="button">Learn more</button>
            </div>
          </div>
          {% endif %}


          {% if request.user.is_superuser %}
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>None</p>
            {% else %}
            <ul class="actionlist">
              {% for entry in admin_log %}

              <div class="TimelineItem">
                <div class="TimelineItem-badge">
                  <!-- octicon("flame") -->
                  <svg class="octicon octicon-flame" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M5.05.31c.81 2.17.41 3.38-.52 4.31C3.55 5.67 1.98 6.45.9 7.98c-1.45 2.05-1.7 6.53 3.53 7.7-2.2-1.16-2.67-4.52-.3-6.61-.61 2.03.53 3.33 1.94 2.86 1.39-.47 2.3.53 2.27 1.67-.02.78-.31 1.44-1.13 1.81 3.42-.59 4.78-3.42 4.78-5.56 0-2.84-2.53-3.22-1.25-5.61-1.52.13-2.03 1.13-1.89 2.75.09 1.08-1.02 1.8-1.86 1.33-.67-.41-.66-1.19-.06-1.78C8.18 5.31 8.68 2.45 5.05.32L5.03.3l.02.01z">
                    </path>
                  </svg>
                </div>

                <div class="TimelineItem-body">
                  {% if entry.is_deletion or not entry.get_admin_url %}
                  {{ entry.object_repr }}
                  {% else %}
                  <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                  {% endif %}
                  <br>
                  {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                  {% else %}
                  <span class="mini quiet">Unknown content</span>
                  {% endif %}
                </div>

              </div>

              {% endfor %}
            </ul>
            {% endif %}
          {% endif %}
        </div>

      </div>
    </div>
    <div class="col-2">
      <!-- EMPTY -->
    </div>
  </div>
</div>









{% endblock content %}
